<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

  {% seo %}
</head>
<body>
  <header>
    <div class="container">
      <h1>Some title, I am thinking what should I put here</h1>
      <h2>There should be a good and meaningful sentence here.</h2>
    </div>
  </header>

  <div class="container">
    <section id="main_content">
      {{ content }}
    </section>
  </div>

  <div class="container">
    <h2>There should be another good and meaningful sentence here.</h2>
  </div>
</body>
</html>
